exportPattern("^[[:alpha:]]+")



importFrom(psychometric, item.exam)
import(corrplot,
       CTT,
       deltaPlotR,
       difNLR,
       difR,
       ggplot2,
       gridExtra,
       ltm,
       moments,
       nnet,
       psych,
       reshape2,
       shiny,
       shinyAce,
       stringr)
importFrom("grDevices", "rainbow")
importFrom("stats", "aggregate", "quantile", "relevel", "xtabs")
