exportPattern("^[[:alpha:]]+")



importFrom(psychometric, item.exam)
import(CTT,
       deltaPlotR,
       difNLR,
       difR,
       ggplot2,
       gridExtra,
       ltm,
       moments,
       nnet,
       reshape2,
       shiny,
       shinyAce
       )
importFrom("grDevices", "rainbow")
importFrom("stats", "aggregate", "quantile", "relevel", "xtabs")
