@media (min-width: 1417px) {
    body {
      padding-top:120px;
      padding-left:100px;
      padding-right:100px;
      padding-bottom:100px;
    }
}
@media (max-width: 1416px) {
    body {
      padding-top:120px;
      padding-left:90px;
      padding-right:90px;
      padding-bottom:90px;
    }
}
@media (max-width: 1280px) {
    body {
      padding-top:120px;
      padding-left:80px;
      padding-right:80px;
      padding-bottom:80px;
    }
}
@media (max-width: 1103px) {
    body {
      padding-top:60px;
      padding-left:70px;
      padding-right:70px;
      padding-bottom:70px;
    }
}
@media (max-width: 768px) {
    body {
      padding-top:60px;
      padding-left:40px;
      padding-right:40px;
      padding-bottom:60px;
    }
}
@media (max-width: 578px) {
    body {
      padding-top:60px;
      padding-left:20px;
      padding-right:20px;
      padding-bottom:60px;
    }
}
