.js-irs-blue .irs-single, .js-irs-blue .irs-bar-edge, .js-irs-blue .irs-bar {
  background: blue;
  border-top-color: blue;
  border-bottom-color: blue;
  border-left-color: blue;
  border-right-color: blue;
}
.js-irs-red .irs-single, .js-irs-red .irs-bar-edge, .js-irs-red .irs-bar {
  background: red;
  border-top-color: red;
  border-bottom-color: red;
  border-left-color: red;
  border-right-color: red;
}
.js-irs-green .irs-single, .js-irs-green .irs-bar-edge, .js-irs-green .irs-bar {
  background: #00b300;
  border-top-color: #00b300;
  border-bottom-color: #00b300;
  border-left-color: #00b300;
  border-right-color: #00b300;
}
.js-irs-yellow .irs-single, .js-irs-yellow .irs-bar-edge, .js-irs-yellow .irs-bar {
  background: #e6b800;
  border-top-color: #e6b800;
  border-bottom-color: #e6b800;
  border-left-color: #e6b800;
  border-right-color: #e6b800;
}
.js-irs-purple .irs-single, .js-irs-purple .irs-bar-edge, .js-irs-purple .irs-bar {
  background: #990099;
  border-top-color: #990099;
  border-bottom-color: #990099;
  border-left-color: #990099;
  border-right-color: #990099;
}
.js-irs-orange .irs-single, .js-irs-orange .irs-bar-edge, .js-irs-orange .irs-bar {
  background: #ff6600;
  border-top-color: #ff6600;
  border-bottom-color: #ff6600;
  border-left-color: #ff6600;
  border-right-color: #ff6600;
}
.js-irs-black .irs-single, .js-irs-black .irs-bar-edge, .js-irs-black .irs-bar {
  background: black;
  border-top-color: black;
  border-bottom-color: black;
  border-left-color: black;
  border-right-color: black;
}
.js-irs-brown .irs-single, .js-irs-gray .irs-bar-edge, .js-irs-brown .irs-bar {
  background: brown;
  border-top-color: brown;
  border-bottom-color: brown;
  border-left-color: brown;
  border-right-color: brown;
}
.js-irs-gray .irs-single, .js-irs-gray .irs-bar-edge, .js-irs-gray .irs-bar {
  background: gray;
  border-top-color: gray;
  border-bottom-color: gray;
  border-left-color: gray;
  border-right-color: gray;
}
.js-irs-grey .irs-single, .js-irs-grey .irs-bar-edge, .js-irs-grey .irs-bar {
  background: #dadada;
  border-top-color: #dadada;
  border-bottom-color: #dadada;
  border-left-color: #dadada;
  border-right-color: #dadada;
}
