@media (min-width: 1367px) {

    body {
      padding-top:70px;
      padding-left:80px;
      padding-right:80px;
      padding-bottom:80px;
    }

}

@media (max-width: 1366px) {

    body {
      padding-top:120px;
      padding-left:80px;
      padding-right:80px;
      padding-bottom:80px;
    }

}


@media (max-width: 576px) {

    body {
      padding-top:60px;
      padding-left:30px;
      padding-right:30px;
      padding-bottom:60px;
    }

}
