@media (min-width: 1680px) {
    body {
      padding-top:80px;
      padding-left:100px;
      padding-right:100px;
      padding-bottom:100px;
    }
}
@media (max-width: 1680px) {
    body {
      padding-top:80px;
      padding-left:100px;
      padding-right:100px;
      padding-bottom:100px;
    }
}
@media (max-width: 1416px) {
    body {
      padding-top:120px;
      padding-left:80px;
      padding-right:80px;
      padding-bottom:80px;
    }
}
@media (max-width: 1024px) {
    body {
      padding-top:160px;
      padding-left:60px;
      padding-right:60px;
      padding-bottom:60px;
    }
}
@media (max-width: 768px) {
    body {
      padding-top:60px;
      padding-left:40px;
      padding-right:40px;
      padding-bottom:60px;
    }
}
@media (max-width: 578px) {
    body {
      padding-top:60px;
      padding-left:20px;
      padding-right:20px;
      padding-bottom:60px;
    }
}
