.ttooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.ttooltip .ttooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 0 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.ttooltip .ttooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.ttooltip:hover .ttooltiptext {
  visibility: visible;
}
